<!DOCTYPE html>
<html>
  <head>
    <title>Blog | Tennis Australia</title>
    <meta name="description" content="Stories, tips and guides from Tennis Australia, from Swisse Hot Shots Tennis to junior competition.">
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <h1>Tennis Australia Blog</h1>
        <p>Stories, tips and guides to help kids and families get the most out of tennis.</p>
      </div>
      <div>
        <div class="blog-listing">
          {{#data.articleList.items}}
          <div>
            <div>
              <h3><a href="/blog/{{_id}}">{{title}}</a></h3>
            </div>
            <div>
              <p>{{pubdate}}</p>
            </div>
            <div>
              {{{subTitle.html}}}
            </div>
          </div>
          {{/data.articleList.items}}
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
